#main{
    width:100%;
    margin:5% auto auto 2%;
}
.trains{
    float:left;
    width:68%;
    height:auto;
    background:orange;
    border:2px solid red;
    margin:0 auto;
}
.currentTime{
    float:left;
    width:28%;
    height:auto;
    background:yellow;
    border:2px solid red;
    margin:0 auto;
}